.shelf {
  max-width: 980px;
  margin: 0 auto;
  
  &__list {
    padding: 0 130px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    column-gap: 64px;
    row-gap: 42px;
  }

  &__load {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px auto 35px;

    &--button {
      border: 1px solid #000;
      border-radius: 0;
      background: #FB953E;
      font-size: 14px;
      font-weight: 700;
      line-height: 19px;
      color: #fff;
      display: flex;
      justify-content: center;
      padding: 7px 31px;
      cursor: pointer;
      transition: all .2s;

      &:hover {
        background: #000;
      }
    }
  }
}

.product {
  flex: 0 1 calc(33% - 42px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: ease-in-out .2s;
  cursor: pointer;

  &:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, .1);
  }

  &__image {
    margin-bottom: 10px;

    img {
      display: block;
    }
  }

  &__name {
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    color: #000;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 10px;
  }

  &__price {
    margin-bottom: 14px;
    text-align: center;
  }

  &__list-price {
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    color: #000;
    margin-bottom: 1px;
  }

  &__installments {
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    color: #666;
  }

  &__buybutton {
    width: 100%;
    border: none;
    border-radius: 0;
    background: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 19px;
    color: #fff;
    display: flex;
    justify-content: center;
    padding: 7px 0;
    cursor: pointer;
    transition: all .2s;

    &:hover {
      background: #FB953E;
    }
  }
}